* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}
#wrapper {
  width: 100vw;
  height: 100vh;
}
.house_name_navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin: 2rem;
}
.house_name_navbar a {
  font-family: "Red Rose";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
  color: #434343;
}
.location_btn {
  display: flex;
  align-items: center;
  gap: 0.3rem;
  padding: 0.3rem;
  cursor: pointer;
}
.house_section {
  display: flex;
  justify-content: center;
}
.house_img {
  max-width: 180px;
}
.house_headline {
  text-align: center;
  margin: 2rem;
}
.house_images {
  display: flex;
  gap: 0.5rem;
  cursor: pointer;
}
.house {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #a3a3a3;
  border-radius: 10px;
  padding: 0.2rem;
  margin: 1rem;
  cursor: pointer;
}
.house_description {
  display: flex;
  justify-content: space-around;
  gap: 0.5rem;
  font-size: 10px;
  padding: 0.3rem;
}
.house_description span {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}
@media (max-width: 800px) {
  .two_houses {
    max-width: 170px;
  }
  .house_images {
    cursor: pointer;
  }
  .house {
    padding: 0.5rem;
    margin: 0.5rem;
    cursor: pointer;
  }
  .house_img {
    max-width: 130px;
  }
  .house_description {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    gap: 0.2rem;
    font-size: 10px;
    padding: 0.2rem;
    /* width: 90px; */
  }
  .house_description span {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
  }
  .house_description span img{
   width: 70px;
  }
  .house_name_navbar a {
    font-size: 15px;
    line-height: 20px;
  }
}
@media (max-width: 678px) {
  .two_houses {
    max-width: 90%;
  }
  .house_images {
    cursor: pointer;
    margin: auto;
  }
  .house_section {
    display: flex;
    /* flex-direction: column; */
  }
  .house {
    padding: 1rem;
    margin: 1rem;
    cursor: pointer;
  }
  .house_img {
    max-width: 100px;
  }
  .house_description {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    gap: 0.2rem;
    font-size: 8px;
    padding: 0.2rem;
    /* width: 90px; */
  }
  .house_description span {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
  }
  .house_description span img{
   width: 40px;
  }
  .house_name_navbar a {
    font-size: 8px;
    line-height: 10px;
  }
  .location_btn {
    display: flex;
    align-items: center;
    font-size: 9px;
    gap: 0.2rem;
    padding: 0.2rem;
    cursor: pointer;
  }
}
@media (max-width: 578px) {
  .house_section {
    display: flex;
    /* flex-direction: column; */
  }
  .house_images {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    cursor: pointer;
  }
  .two_houses {
    max-width: 180px;
  }
  .house {
    padding: 0.2rem;
    /* margin: 0.2rem; */
    cursor: pointer;
  }
  .house_img {
    max-width: 120px;
  }
  .house_description {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    gap: 0.2rem;
    font-size: 10px;
    padding: 0.5rem;
    /* width: 90px; */
  }
  .house_description span {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
  .house_description span img{
   width: 40px;
  }
  .house_name_navbar a {
    font-size: 8px;
    line-height: 10px;
  }
}
